/*Autor: Tamara Radojčić 0214/2021 */
.header {
    background-color: lightblue;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.header a {
    float: left;
    color: rgb(73, 0, 107);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-right {
    margin-left: auto;
}

.header a:hover {
    background-color: rgb(216, 245, 255);
    color: rgb(73, 0, 107);
}

.header a:active {
    background-color: #9d08b1b4;
    color: white;
}

img {
    padding-left: 15px;
    margin-right: auto;
}

.main {
    padding: 0;
    margin: 0;
    top: 70px;
    left: 0;
    height: 1000px; /* You can adjust this if needed */
    width: 100%;
    background-color: rgb(240, 218, 231);
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}
.details{
    color: #8C55AA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

  .sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: table;
    margin: 0 auto;
    padding-bottom: 40px;
}

 .input-box input{
    height: 45px;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
   .input-box input:focus{
    border-color: #9b59b6;
  }


.box {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    background: rgba(136, 126, 130, 0.116);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    align-self: center;
    display: table;
    margin: 0 auto;
    margin-bottom: 27px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9d08b1b4, #e63da5c9);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit:hover{
    background: linear-gradient(to left, #9d08b1b4, #e63da5c9);
}
.submit:active{
    background: #9d08b1b4
}
a{
    text-decoration: none;
}

.alert-mess {
    color: #f44336;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    width: 50%;

}

.alert-heading {
    margin: 0;
    white-space: nowrap;
}