.header{
    background-color: lightblue;
    justify-content: center;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.header a {
    float: left;
    color: rgb(73, 0, 107);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
}

.header a:hover {
    background-color: rgb(216, 245, 255);
    color: rgb(73, 0, 107);
}
.header a:active {
    background-color: #9d08b1b4;
    color: white;
}
.menu{
    position: relative;
    margin-top: 50px;
    height: 700px;
    width: 800px;
    background-color: white;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    font-size: 20px;
    color: rgb(73, 0, 107);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
button{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9d08b1b4, #e63da5c9);
    border: 0;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    display: table;
    margin: 0 auto;
    margin-top: 30px;
}
button:hover{
    background: linear-gradient(to left, #9d08b1b4, #e63da5c9);
}
button:active{
    background: #9d08b1b4
}

td{
    padding:10px;
}

.header-right {
    margin-left: auto;
}


.header-left {
    margin-right: auto;
}

.menu-top {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    /*margin-top: 200px;*/
}

.menu-left {
    flex: 0; 
}

.menu-right {
    
    flex-shrink: 0;
}

.menu-right div {
    display: flex;
    align-items: center;
}

input {
    border-radius: 20px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    width: 200px; 
    margin-bottom: 10px; 
}

.buttonnovo{
    cursor: pointer;
    
    border-radius: 5em;
    color: rgb(73, 0, 107);
    background: white;
    border: 3px solid;
    border-color: rgb(73, 0, 107);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    
}

.buttonnovo:active{
    background: #e63da5c9;
}

.buttonnovo:hover{
    color: white;
}

#ispisporuka{


    
    
    position: absolute; 
    top: calc(70%); 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    width: 100%; 
    

}

#pomocdugm{
    position: absolute; 
    top: calc(70% + 10px); 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    width: 100%; 
}


#tekst{
    position: absolute; 
    top: calc(10%); 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    width: 100%; 
}

#unoste{
    position: absolute; 
    top: calc(35%); 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    width: 100%; 
}

#provera{
    position: absolute; 
    top: calc(45%); 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center; 
    width: 100%; 
}



#rundaVreme{
justify-content: left;padding-left: 15px;font-size: 20px;
}


#divRundaVreme{
display: flex;justify-content: left; background-color: lightblue;   padding-top: 10px;padding-bottom: 10px; border-top-left-radius: 1.5em;border-top-right-radius: 1.5em;
}







