<!-- Autor: Jana Stanisavljević 0381/2021, Maša Nikolić 0439/2021  -->
{% extends 'header/base_2.html' %}
{% load static %}

{% block link.src %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block styles %}
<script src="{% static 'js/dodavanje/dodavanje.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dodavanje/stilovi.css' %}">
{% endblock %}

{% block navigation %}
<a href="{% url 'pocetna_administrator'%}" onclick="handleLinkClick(event)">Početna</a>
<a href="{% url 'pravila_igre'%}">Pravila igre</a>
<a href="{% url 'logout'%}">Izloguj se</a>
{% endblock %}

{% block menu %}
<div class="main">
  <div class="menu">
    <div style="text-align: center;font-size: 30px;padding-bottom: 50px;font-weight: bold;padding-top: 40px;">
      Naziv žanra
    </div>
    
    <form id="forma" method="POST" action="/ime_izvodjaca/" onsubmit="return postaviKolacicDodajZanr()">
      {% csrf_token %}
      <input type="text" name="naziv" id="naziv" class="round-input"><br>
      <button type="submit" id="dodaj" >Dodaj žanr</button>
    </form>
    {% if message %}
    <label style="color: red;">{{message}}</label>
    {% endif %}
  </div>
</div>
</div>

<script>
function postaviKolacicDodajZanr(){
  let naziv = document.getElementById('naziv').value;
  console.log(naziv)
  if (naziv == "") {
    alert('Niste uneli naziv žanra!');
    return false;
  }
  document.cookie = "postavljenZanr=" + naziv + ";path=/";
  var tip="DodajZanr"
  document.cookie= "tipDodavanja="+encodeURIComponent(tip)+";path=/";
  return true;
}


function handleLinkClick(event) {
    alert("ovde")
    event.preventDefault();
  
    document.cookie = 'postavljenZanr' + '=; Max-Age=0; path=/';

    window.location.href = event.target.href;
  }
</script>
{% endblock %}