<!-- Autor: Tamara Radojčić 0214/2021, Maša Nikolić 0439/2021 -->

{% extends 'header/base_2.html' %}
{% load static %}

{% block link.src %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'potrebni fajlovi/jquery-3.7.0.min.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/autorizacija/forgotpass.css' %}">
{% endblock %}

{% block navigation %}
<a href="{% url 'pocetna'%}" onclick="handleLinkClick(event)">Početna</a>
<a href="{% url 'pravila_igre' %}" onclick="handleLinkClick(event)">Pravila igre</a>
<a href="{% url 'login' %}">Uloguj se</a>
{% endblock %}

{% block menu %}
<div class="main">
    <div class="container">
        <p class="sign">Zaboravljena lozinka</p>
        <form class="form1" method="POST">
            {% csrf_token %}
            <span class="details">{{ pitanje }}</span>
            <div class="input-box">
                <input class="box" type="text"  placeholder="Odgovor" id="odgovor" name="odgovor" required>
            </div>
            <div id="messages" class="alert-mess"><p hidden>aaa</p>
                {% for message in messages %}
                <p class="alert-heading"><strong> {{ message }} </strong></p>
                {% endfor %}
            </div>
            <button class="submit" >Odgovori na pitanje</button>
        </form>
    </div>
</div>



<style>
    /* Dodati stilove za mobilne uređaje */
    @media screen and (max-width: 767px) {
        .sign{
            color: #8C55AA;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            margin-bottom: 40px;
        }
        .sign{
            padding-bottom: 5px;
            margin-bottom: 2px;
            margin-top: 2px;
        }
        .sumbit{
            margin-bottom: 5px;
            padding-top: 5px;
        }
        .alert-mess{
            padding-bottom: 1px;
            margin-bottom: 1px;
            margin-top: 1px;
            padding-top: 1px;
            font-size: 14px;
            text-align: center;
        }
        .main-bottom{
            margin-top: 2px;
        }

        .form1{
            margin-bottom: 5px;
        }

      .main{
        padding-left: 15px;
        max-width: 90%;
        margin-bottom: 15px;
        min-height: 400px;
      }
      .bodydiv{
        background-color: rgb(240, 218, 231);

      }
      .header a{
        font-size: 16px;
      }
      
    }
  </style>


<script type="text/javascript">
$(document).ready(function(){
    $('.menu').css('min-height', $(tb).height()+$(db).height()+110);
});



function handleLinkClick(event) {
    event.preventDefault();
  
    document.cookie = 'korisnickoIme' + '=; Max-Age=0; path=/';
    document.cookie = 'ulogovanTip' + '=; Max-Age=0; path=/';

    window.location.href = event.target.href;
  }

</script>
{% endblock %}