<!-- Autor: Tamara Radojčić 0214/2021, Maša Nikolić 0439/2021- -->
{% extends 'header/base.html' %}

{% load static %}
{% block title %}
pocetna.html
{% endblock %}

{% block link.src %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'potrebni fajlovi/jquery-3.7.0.min.js' %}"></script>
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block navigation %}
<a href="{% url 'pocetna' %}">Početna</a>
<a href="{% url 'pravila_igre' %}">Pravila igre</a>
<a href="{% url 'login' %}">Uloguj se</a>
{% endblock %}

{% block left %}
<div class="left" id="left">
    <p>Cause <br> I've <br> got <br> a</p>
</div>
{% endblock %}

{% block menu %}
<div class="menu">
    <h2>Igra dopunjavanja tekstova pesama</h2>
    <div class="play">
        <button onclick="window.location.href='{% url 'nivo' %}'">Igraj sam</button>
        <button onclick="window.location.href='{% url 'sifra_sobe'%}'">Igraj u duelu</button>
    </div>
</div>
{% endblock %}

{% block right %}
<div class="right" id="rig">
    <p>baby <br> and <br> I'll <br> write <br> your <br> name</p>
</div>
{% endblock %}

<style>

    .right { 
        display: inline-block; 
    }
    /* Dodati stilove za mobilne uređaje */
    @media screen and (max-width: 767px) {
      h2{
        font-size: 24px;
      }
      button{
        font-size: 20px;
      }
      .menu{
        max-width: 95%;
        margin-bottom: 15px;
        min-height: 400px;
      }
  
      .bodydiv{
        background-color: rgb(240, 218, 231);
  
      }
      .header a{
        font-size: 16px;
      }

      .right {
        display: none !important;
        animation: none;
      }
    
      .left{
        display: none;
        animation: none;
      }
    }
  </style>