<!-- Autor: Maša Nikolić 0439/2021 -->

{% extends 'header/base_2.html' %}
{% load static %}

{% block title %}
pravila_igre.html
{% endblock %}

{% block link.src %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'potrebni fajlovi/jquery-3.7.0.min.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profil_rang_pravila/pravila_igre.css' %}">
{% endblock %}

{% block navigation %}
<a href="{% url 'vrati_na_pocetnu' %}">Početna</a>
<a href="{% url 'pravila_igre' %}">Pravila igre</a>
{% if ulogovan %}
  <a href="{% url 'logout' %}">Izloguj se</a>
{% else %}
  <a href="{% url 'login' %}">Uloguj se</a>
{% endif %}
{% endblock %}

{% block menu %}
<div class="main">
  <div class="menu">
    <div id="section1" class="container-fluid">
      <h1>1. Opis</h1><hr>
      <p>Ova igra je stvorena za sve ljubitelje muzike koji žele da testiraju svoje znanje o tekstovima pesama različitih izvođača i žanrova, dok se istovremeno takmiče sa svojim prijateljima.</p>
      <p>Vaš zadatak je da dopunite zadati tekst pesme, pokazavši koliko dobro poznajete omiljene hitove. Pridružite se zabavi i izazovite svoje prijatelje u ovoj uzbudljivoj muzičkoj avanturi!</p><br><hr>
    </div>

    <div id="section2" class="container-fluid">
      <h1>2. Mogućnosti</h1><hr>
      <p><b>Igraj sam ili u dvoje (duel):</b> Izazovite sebe ili se takmičite protiv prijatelja u uzbudljivom duelu.</p>
      <p>Odaberi jedan od zadatih žanrova: Birajte među raznovrsnim muzičkim žanrovima prema vašim preferencijama.</p>
      <p>Odaberi težinu:
        <ul>
          <li> Lakši nivo: Sadrži reči iz refrena.</li>
          <li> Srednji i teži nivoi: Obuhvataju manje poznate delove pesama.</li>
        </ul>
      </p><br><hr>
    </div>

    <div id="section3" class="container-fluid">
      <h1>3. Tok igre</h1><hr>
      <p>Tokom igre, na ekranu se pojavljuje jedan ili više stihova nasumično odabrane pesme, a isti stihovi se i emituju.</p>
      <p>  1. Na ekranu se prikazuju prazne linije gde treba upisati nedostajući tekst.</p>
      <p>  2. Igrači prikupljaju poene za svaki tačno popunjen stih.</p>
      <p>  3. Na kraju, korisnici se rangiraju na rang listi na osnovu osvojenih bodova u duelima.</p>
      <p>Uronite u svet muzike, testirajte svoje znanje i zabavite se uz ovu dinamičnu igru!</p><br><hr>
    </div>

    <div id="section4" class="container-fluid">
      <h1>4. Sakupljaj poene</h1><hr>
      <p>Sakupljaj poene i pređi u sledeću kategoriju.</p><br>
      
      <div class="table-div">
        <table class="table1">
          <caption>Kategorije</caption>
          <tr style="border-bottom: 1px solid;border-color: black;">
            <td></td>
            <td>Brucoš</td>
            <td>Student</td>
            <td>Master</td>
          </tr>
          <tr>
            <td>Kategorija</td>
            <td> niža kategorija </td>
            <td> srednja kategorija </td>
            <td> viša kategorija </td>
          </tr>
          <tr>
            <td>Pogodnosti</td>
            <td>-</td>
            <td> mogućnost predlaganja novih izvođača </td>
            <td> mogućnost predlaganja novih izvođača i novih pesama </td>
          </tr>
          <tr>
            <td>Broj poena za datu kategoriju</td>
            <td>-</td>
            <td> 50 poena</td>
            <td> 100 poena</td>
          </tr>
        </table>
      </div><br>
      <p>Korisnik mora biti registrovan!</p><hr>
    </div>
  </div>
</div>

<style>
  /* Dodati stilove za mobilne uređaje */
  @media screen and (max-width: 767px) {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 15px;
      margin-right: 15px;
      max-height: 100%;
    }
    .table-div{
      padding-left: 2px;
      padding-right: 2px;
      margin-left: 2px;
      margin-right: 2px;
    }
    .main{
      padding-left: 15px;
      max-width: 90%;
      margin-bottom: 15px;
    }
    .bodydiv{
      background-color: rgb(240, 218, 231);
    }
    .header a{
      font-size: 16px;
    }
    .menu{
      background-color: white;
      margin-bottom: 22px;
    }
    table {
       font-size: 12px;
    }
    
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
   $('.menu').css('min-height',$(section4).height()+$(section3).height()+$(section2).height()+$(section1).height()+90);
   
   });
 </script>


{% endblock %}