<!-- Autor: Andrija Tomić 0489/2021, Maša Nikolić 0439/2021  -->
{% extends 'header/base_2.html' %}
{% load static %}

{% block link.src %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="{% static 'potrebni fajlovi/jquery-3.7.0.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'potrebni fajlovi/jquery-3.7.0.min.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/igra_sam/zanr.css' %}">
<style>
    body{background-color: rgb(240, 218, 231);}
</style>
{% endblock %}

{% block navigation %}
<a href="{% url 'pravila_igre' %}">Pravila igre</a>
{% endblock %}

{% block menu %}
<div class="menu">
    <div class="tekst1">
        Izaberite žanr ili žanrove
    </div>
    <br><br>

    <div class="zanrovi" style="justify-content: center;display: flex;" id="zanrovi">
        <table>
            {% for zanr in zanrovi %}
            <tr >
                <td style="margin-right: 5px;"> <input type="checkbox" name="pop" id="{{zanr.naziv}}" class="z" value="{{zanr.naziv}}"><span class="checkmark"></span> </td>
                <td> <label id="{{zanr.naziv}}" for="pop">{{zanr.naziv}}</label></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="porukagreska" style="color: red;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        {{poruka}}
    </div>
    <div class="dugme" id="dalje" >
        <button role="link" onclick="igraj()" style="width: 100px;height: 50px;">Dalje</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){ });

    function igraj(){
        //dohvati sve selektovane zanrove
        let options = document.getElementsByName('pop');
        var selectedOptions=[];
        let flag 
        for(let i = 0; i < options.length; i++) {
            if(options[i].checked) {
                selectedOptions.push(options[i].value);
            }
        }
        if(selectedOptions!=null){
            //document.cookie = "mojKolacic=vrednost;expires=Fri, 13 May 3024 12:00:00 UTC;path=/";
            //$.cookie('odabrani_zanrovi_igra_sam', JSON.stringify(selectedOptions));
            //document.cookie = "moj_kolacic=" + JSON.stringify(arrayData) + "; path=/";
            document.cookie="runda_igra_sam=0;path=/";
            let x=0;
            document.cookie="poeni_igra_sam="+x+";path=/";
            document.cookie="odabrani_zanrovi_igrasam="+JSON.stringify(selectedOptions)+";path=/";
            window.location.href = "/igra_sam/";
        }
        else{
            document.cookie=`odabrani_zanrovi_igrasam=0;path=/`;
            window.location.reload();
        }
    }
</script>

<style>

    .tekst1{
        text-align: center;padding-top: 70px;font-size: 30px;font-weight: bold;
    }

    /* Dodati stilove za mobilne uređaje */
    @media screen and (max-width: 767px) {
  
        .tekst1{
            text-align: center;padding-top: 70px;font-size: 22px;font-weight: bold;
        }
        label{
            font-size: 20px;
        }
        button{
            font-size: 22px;
        }
  
      .menu{
        padding-left: 15px;
        max-width: 90%;
        margin-bottom: 15px;
        min-height: 400px;
      }
      .bodydiv{
        background-color: rgb(240, 218, 231);
  
      }
      .header a{
        font-size: 16px;
      }
    }
  </style>
{% endblock %}